<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="questions content">
        <h2><%= title %> Questions</h2>
        <p>Accuracy Rate: <%= accuracy%>%</p>
        <p>Average response time: <%= response_time%> ms</p>
        <% if(questions.length >0){ %>
            <% questions.forEach(question =>{ %>
                <a class="single" href="/<%= domain_title %>/<%= question._id %>">
                    <h3 class="question">
                        <%= question.question %>
                    </h3>
                    
                </a>
            <% }); %>
            
        <% } else{ %>
            <p>No questions to display..................</p>

       <% } %>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>



